appdirs==1.4.4
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
colorlog==4.7.2
diff-match-patch==20200713
idna==2.10
jsonschema==3.2.0
lxml==4.6.2
numpy==1.18.2
online-judge-api-client==10.8.0
online-judge-tools==11.1.1
pyrsistent==0.17.3
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.1
toml==0.10.2
urllib3==1.26.2
